.not-found-container{
    height: 100vh; 
    width: 100vw; 
    background-color: hsl(0, 40%, 92%);
    display : flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oops-heading{
    font-size: 100px; 
    color:#B83838; 
    font-family: "Roboto"; 
    font-style: italic;  
}
.paragraph-401{
    font-size: 30px; 
    color:hsl(0, 6%, 6%); 
    font-family: "Roboto"; 
    font-style: normal;
    margin: 10px;
}
.paragraph-401-2{
    font-size: 20px; 
    color:hsl(0, 6%, 6%); 
    font-family: "Roboto"; 
    font-style: normal;
    margin: 10px;
}
.not-found-btn{
    height: 30px; 
    border-width: 0px; 
    border-radius: 10px; 
    color: #ffffff; 
    background-color: blue; 
    text-align: center;
    padding: 8px; 
    font-size: 15px; 
    font-family: "Roboto"; 
    font-weight: 600; 
    margin: 10px;
    outline: none; 
    cursor: pointer;
}