.view-students-container{
    min-height: 100vh; 
    width: 100vw; 
    background-color: hsl(0, 40%, 92%);

}
.loader-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rendering-ui-list{
    list-style-type: none; 
    width: 100%; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
}