.header-container{
    width: 100vw; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo-img{
    height: 50px; 
    width: 100px; 
}
.logout-btn{
    width: 100px; 
    height: 35px; 
    border-radius: 10px; 
    border-width: 0px; 
    color: #ffffff; 
    text-align: center; 
    font-size: 20px; 
    font-weight: 600; 
    font-family: "Roboto"; 
    background-color: red;
}