.admin-header-container{
    height: 80px; 
    width: 100vw; 
    background-color: #ffffff;
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}
.admin-header-btn{
    height: 35px; 
    border-radius: 15px; 
    border-width: 0px; 
    color: #ffffff; 
    background-color: blue; 
    text-align: center;
    font-size: 15px; 
    font-weight: 600; 
    font-family: "Roboto"; 
    outline: none; 
    cursor: pointer;
    padding: 5px; 
    margin-top: 10px;
}