.admin-container{
    height: 100vh; 
    width: 100vw; 
    background-color: hsl(0, 40%, 92%);
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .admin-card{
    height: 70%; 
    width: 80%; 
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 15px; 
}.form-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
}
.input-admin{
    height: 35px; 
    width: 95%; 
    border-width: 2px; 
    border-style: solid; 
    border-color: blue;
    margin: 5px; 
    border-radius: 8px; 
    outline: none; 
    font-size: 15px; 
    color: #000000; 

}

.admin-h{
    font-size: 25px; 
    color: #000000; 
    font-weight: 600; 
    font-family: "Roboto";
}
.admin-btn{
    height: 30px; 
    width: 120px; 
    border-width: 0px; 
    border-radius: 8px; 
    color: #ffffff; 
    background-color: blue;
    font-size: 15px; 
    font-family: "Roboto"; 
    font-weight: 500; 
}

 .admin-card{
    height: 40%; 
    width: 30%; 
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 15px; 
}.form-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.admin-error{
    color: red; 
    font-size: 18px; 
    font-family: "Roboto"; 
    font-weight: 700; 

}