.registration-container{
    height: 100vh; 
    width: 100vw; 
    background-color: hsl(0, 40%, 92%);
}
.welcome-heading{
    font-size: 25px; 
    font-family: "Roboto";
    color: blue;   
    font-weight: 700;  
}
.infy-heading{
    color: #ee1f73; 
    font-style: italic ;    
}
.register-card{
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lables{
    font-size: 20px; 
    font-weight: 500; 
}

@media (max-width: 768px){
    .form-card{
        width: 90%;
        height: 70%; 
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px; 
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    }.reg-btn{
    height: 25px; 
    width: 90%; 
    color: #ffffff; 
    border-width: 0px; 
    border-radius: 8px; 
    background-color: #8029F2;
    font-size: 15px; 
    font-family: "Roboto";
    margin-top: 12px;

}
.have-btn{
    height: 25px; 
    width: 90%; 
    color: #ffffff; 
    border-width: 0px; 
    border-radius: 8px; 
    background-color: #3C0AF0;
    font-size: 15px; 
    font-family: "Roboto";
    margin-top: 12px;
}
}
.form-card{
    height: 60%; 
    width: 40%; 
     background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

}

.input{
    height: 32px; 
    width: 90%; 
    border-width: 2px; 
    border-color: blue; 
    border-radius: 10px; 
    outline: none; 
    margin-top: 8px;
    font-size: 15px; 
    font-family: "Roboto"; 
    color: #000000; 
    border-style: solid;
}

.registration{
    font-size: 25px; 
    color: blue; 
    font-weight: 700; 
    font-family: "Roboto"; 
    text-align: center;

}
.reg-btn{
    height: 35px; 
    width: 90%; 
    color: #ffffff; 
    border-width: 0px; 
    border-radius: 8px; 
    background-color: #8029F2;
    font-size: 18px; 
    font-family: "Roboto";
    margin-top: 15px;
    

}
.have-btn{
    height: 35px; 
    width: 90%; 
    color: #ffffff; 
    border-width: 0px; 
    border-radius: 8px; 
    background-color: #3C0AF0;
    font-size: 15px; 
    font-family: "Roboto";
    margin-top: 12px;
}
.login-error{
    color: red; 
    font-size: 18px; 
    font-family: "Roboto";
    font-weight: 500; 
    margin-top: 10px;
}

.register-msg{
    color: green; 
    font-size: 18px; 
    font-family: "Roboto";
    font-weight: 500; 
    margin-top: 10px; 
}